<div class="d-flex flex-column w-full h-100 m-4">
  <ul class="list-inline d-flex flex-row w-100 justify-content-center gap-4 fs-3 fw-bold">
    <li><a routerLink="/home" routerLinkActive="activebutton" class="text-decoration-none">Home</a></li>
    <li><a routerLink="/cart" routerLinkActive="activebutton" class="text-decoration-none">Cart</a></li>
    <li><a routerLink="/orders" routerLinkActive="activebutton" class="text-decoration-none">Orders</a></li>
    <li><a routerLink="" class="text-decoration-none">Login</a></li>
  </ul>
  <div class="rounded router" style="background-color: #fbfbfb;">
    <router-outlet></router-outlet>
  </div>
</div>